@import url('font-awesome.min.css');
@font-face 
{
	font-family: 'Avenir Next LT Pro Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Avenir Next LT Pro Regular'), url('fonts/AvenirNextLTPro-Regular.woff') format('woff');
}
:root
{
	--couleur1: #FFF;
    --couleur2: #c72cb2;
    --couleur3: #ad3434;
	--gris-anthracite: #191919;
	--blanc-pale : #F2F2F2;
}
*
{
	font-family:'Avenir Next LT Pro Regular';
    color: black;
}
body
{
	margin: 0px;
	padding: 0px;
	background-color: var(--couleur1);
	overflow-x: hidden;
}
input[type=submit], button, .label-btn
{
	cursor: pointer;
}
input[type=text], input[type=number], input[type=password], select, option
{
	outline: none;
	color: #000;
}
section#interface h1
{
	margin: 15px 0;
}
section#interface
{
	position: relative;
	width: 100%;
	height: calc(100vh - 44px);
	top: 44px;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: flex-start;
}
nav
{
	color: white;
	position: fixed;
	height: 44px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	background-color: white;
	top: 60px;
	right: 0;
	z-index: 1000000;
}
nav button
{
	color: white;
	padding: 10px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	
	font-size: 18px;
}
/* quand on rentre sur la gauche */
nav .nav-btn:hover:after
{
	width: 100%;
	transition: width .3s ease;
}
/* quand on lache de la gauche */
nav .nav-btn:after
{
	content: '';
	display: block;
	height: 3px;
	width: 0;
	background-color: white;
	transition: ease all .3s; 
}
/* quand on rentre sur la droite */
nav .nav-btn.right:hover:after
{
	width: 100%;
	transition: width .3s ease;
}
/* quand on lache de la droite */
nav .nav-btn.right:after
{
	content: '';
	height: 3px;
	width: 0;
	display: block;
	background-color: white;
	transition: ease all .3s; 
	float: right;
}
.nav-selected:after
{
	content: '';
	height: 3px;
	width: 100%;
	display: block;
	background-color: white;
}
section#interface
{
	position: relative;
	width: 100%;
	height: calc(100vh - 44px);
	top: 44px;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: flex-start;
}
nav .hamburger
{
	align-self: center;
	padding-right: calc(10px + 0.7vw);
	flex-flow: column wrap;
	justify-content: space-between;
	align-items: center;
	height: 25px;
	cursor: pointer;
}
nav .hamburger div.hamburger1
{
	transition: 0.5s;
	position: relative;
	display: block;
	background: var(--gris-anthracite);
	width: 40px;
	height: 4px;
	border-radius: 2px;
	padding: 0;
}
nav .hamburger div.hamburger2
{
	transition: 0.5s;
	position: relative;
	content: '';
	padding: 0;
	display: block;
	background: var(--gris-anthracite);
	width: 40px;
	height: 4px;
	border-radius: 2px;
}
nav .hamburger div.hamburger3
{
	transition: 0.5s;
	position: relative;
	content: '';
	bottom: 0;
	display: block;
	background: var(--gris-anthracite);
	width: 40px;
	height: 4px;
	border-radius: 2px;
}
nav .hamburger.ouvert div.hamburger1
{
	transform: rotate(45deg) translateX(7.5px) translateY(7.5px);
	transition: 0.5s;
}
nav .hamburger.ouvert div.hamburger2
{
	opacity: 0;
	transition: 0.3s;
}
nav .hamburger.ouvert div.hamburger3
{
	transform: rotate(-45deg) translateX(7.5px) translateY(-7.5px);
	transition: 0.5s;
}

.volet-menu
{
	position: absolute;
	right: 0;
	top: 100px;
	background-color: var(--gris-anthracite);
	color: var(--blanc-pale);
	height: calc(100vh - 160px);
	width: 350px;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	padding: 10px 0;
	transform: translateX(100%);
	transition: 0.3s;
}
.volet-menu.ouvert
{
	box-shadow: 1px 2px 10px var(--gris-anthracite);
	transition: 0.3s;
	transform: translateX(0%);
	color: var(--gris-anthracite);
}
.volet-menu form
{
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	color: var(--gris-anthracite);
}
.volet-menu form button
{
	padding: 12px 24px;
	font-weight: bold;
	color: var(--blanc-pale);
	width: 100%;
	background-color: transparent;
	text-decoration: none;
	text-align: center;
}
.volet-menu form button:hover
{
	box-shadow: 2px 8px 45px rgba(255, 255, 255, 0.15);
	transition: ease all 0.5s;
}
.volet-menu form button::after
{
	background-color: transparent;
}


	nav
	{
		justify-content: flex-end;
		position: fixed;
	}
	nav .hamburger
	{
		display: flex;
	}
	nav .menu-nav, nav .autre
	{
		display: none;
	}

.choix-menu-employe 
{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: flex-end;
	width: 100%;
	height: 70vh;
}
.choix-menu-employe button
{
	width: 300px;
	height: 100px;
	border-radius: 80px;
	font-size: 25px;
	margin: 20px;
	background-color: lightgrey;
	border: 3px solid black;
	font-weight: bold;
	color: black;
}